<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662838981010-gr20mf1rti0r85epplr8nbj3t16qrem2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662838981010-gr20mf1rti0r85epplr8nbj3t16qrem2</string>
	<key>API_KEY</key>
	<string>AIzaSyAyoRp-3MOXP0PEJqYfC7FnlrQ3sPMowd8</string>
	<key>GCM_SENDER_ID</key>
	<string>662838981010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginPoc</string>
	<key>PROJECT_ID</key>
	<string>login-poc-7ace8</string>
	<key>STORAGE_BUCKET</key>
	<string>login-poc-7ace8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662838981010:ios:cb1b0adc78913f740ed14b</string>
	<key>DATABASE_URL</key>
	<string>https://login-poc-7ace8-default-rtdb.firebaseio.com</string>
</dict>
</plist>